ul.parts-menu

	//Parts
	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/investigations/bs-md-rent-court-two-mainbar-20170506-story.html")
			img.parts-menu__thumbnail(src="dist/images/photos/story-2-promo.png" width="75")
			.parts-menu__title Low-income renters in Baltimore become migrants in their own city


	//Part 2
	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/investigations/bs-md-rent-court-one-sidebar-20170426-story.html")
			img.parts-menu__thumbnail(src="dist/images/photos/md-rent-court-houses.jpg" width="75")
			.parts-menu__title Baltimore officials want fixes, not fines, from landlords



	//Parts
	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/investigations/bs-md-rent-court-reaction-mayor-20170501-story.html")
			img.parts-menu__thumbnail(src="dist/images/photos/md-rent-court-hicks-2.jpg" width="75")
			.parts-menu__title Officials want to end Baltimore rent court disparities




	//Part 3, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 3 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title







