ul.parts-menu

	//Part 2
	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/investigations/bal-baltimore-officials-want-fixes-not-fines-from-landlords-20170425-story.html")
			img.parts-menu__thumbnail(src="dist/images/photos/md-rent-court-houses.jpg" width="75")
			.parts-menu__title Baltimore officials want fixes, not fines, from landlords



	//Part 2, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 2 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title
	

	//Part 3, inactive
	li.parts-menu__item.parts-menu__item
		a(href="#")
			img.parts-menu__thumbnail(src="dist/images/photos/story-2-promo.png" width="75")
			.parts-menu__title <span style="color:#999;">Coming next week:</span> Migrants in their own city


	//Part 3, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 3 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title







