.swiper-container
	.swiper-wrapper
		.swiper-slide
			.slider-text 
				.slider-text__title How rent court works			
				.slider-text__chatter Tenant-landlord disputes follow two separate legal tracks in District Court. The first, known as “rent court,” allow landlords to accuse tenants of not paying rent. Landlords file about 151,000 “failure to pay rent” actions each year. The second, known as “rent escrow court,” allows tenants to accuse landlords of not providing decent, habitable housing. Tenants file about 825 such cases each year.
				p
					a(href="#") Download a PDF version of this information
				.slide-buttons
					a(class="btn button" onClick="mySwiper.slideTo(2, 1000, false);") Rent Court
					a(class="btn button" onClick="mySwiper.slideTo(8, 1000, false);") Rent Escrow Court
		.swiper-slide
			.slider-text
				h3
					span.court Rent court |
					span.court.white  Tenant is notified
				ul
					li Tenants will receive a notice in person or by mail that gives them a court date.
		.swiper-slide
			.slider-text
				h3
					span.court Rent court |
					span.court.white  Arriving to rent court
				ul
					li Tenants should check for the docket, pieces of paper stabled on a bulletin board in the hallway past the entrance.
					li A baliff will assist in pairing tenants with their landlords for informal negotiations outside rent court.
						ul
							li If a negotiation is reached, tenants should make sure they have a receipt of any payments made and should not leave until they see a judge.
		.swiper-slide
			.slider-text
				h3
					span.court Rent court | 
					span.court.white  Entering the courtroom
				ul
					li Tenants and landlords check in with a clerk and then wait for their case to be called.
					li Representatives of groups that offer legal representation and mediation groups may offer their services.
					li After the judge takes his or her place and the baliff swears everyone in, the clerk will begin calling cases by case number and the rental addess, not by name.
		.swiper-slide
			.slider-text
				h3 
					span.court Rent court |
					span.court.white  Clerk calls the case
				ul
					li A representative for both the tenant and the landlord must be present when called. If one side or the other fails to appear, the case can be dismissed, or ruled in favor of the party that did appear — this is called a default judgment.
					li If both sides are present, landlords stand to the right, tenants to the left as the judge hears the facts.
					li Judges often ask if tenants and landlords have discussed the matter. If not, judges again encourage them to engage in hallway negotiations and return afterwards.
		.swiper-slide
			.slider-text
				h3 
					span.court Rent court |
					span.court.white  Judge rules on the case
				ul
					li In rent court, the only issues that are addressed are whether both sides agree that rent is owed, and the amount. Tenants and landlords may be asked to provide proof of their claims, such as receipts for rent paid, or ledgers showing non-payment.
					li If tenants agree that they owe the rent without offering a defense, judges rule in favor of landlords and enter the amount of rent, late fees and court costs as part of judgments against tenants.
					li If tenants disagree because landlords have not made repairs to problems that are threats to life, health and safety (and the tenants can prove they’ve given the landlords notice of the problems) then the judge can consolidate the rent court case with an escrow action.
						ul
							li Tenants leave rent court, walk down the hallway to the clerk’s office, fill out escrow complaints and return to rent court. A trial date for the new escrow case is set. See 
								a(onClick="mySwiper.slideTo(8, 1000, false);" style="color:#59A3A3; font-weight:700") “Rent Escrow Court.”
		.swiper-slide
			.slider-text
				h3 
					span.court Rent court |
					span.court.white  After judgement
				ul
					li Tenants have four days to file appeals.
					li If tenants remain in their homes, landlords have up to 60 days from receiving judgments to file “warrants of restitution” to have tenants evicted.
						ul
							li Evictions are scheduled.
							li If tenants have not left by then, sheriff’s deputies arrive with landlords to take possession of the property and any belongings remaining inside.
							li Tenants can halt the eviction by paying the owed rent and fees up to when the sheriff arrives. But this “right of redemption” option — also called “pay to stay” — can be used four times in 12 months in Baltimore, three times elsewhere in Maryland.
		.swiper-slide
			.slider-text
				h3
					span.court Rent escrow court |  
					span.court.white  Filing an escrow action
				ul
					li If landlords have not made repairs to problems that are threats to life, health and safety (and tenants can prove they’ve given the landlords notice of the problems) they can file an escrow action using 
						a(href="http://www.courts.state.md.us/district/forms/civil/dccv083.pdf" style="color:#59A3A3" target="_blank") this form.
					li A new trial date for the escrow case will be set.
					li Once an escrow action is filed, housing inspectors are dispatched to examine the property to determine if tenants’ complaints are valid.
		.swiper-slide
			.slider-text
				h3 
					span.court Rent escrow court | 
					span.court.white  Rent escrow trial is held
				ul
					li At the trial date, inspectors testify to whatever violations they may have found and whether they pose threats to life, health and safety of tenants. 
					li Judges can open an escrow account and order that the tenant pay the full amount of rent—or a reduced amount to reflect the property’s inadequate conditions—into it while awaiting repairs, depriving landlords of the rent. 
						ul
							li If tenants fail to pay into the accounts, judges often dismiss the case.
							li Some judges also require tenants to fund the escrow with past due rent that has been alleged in a rent court case. 
					li Landlords are given a certain amount of time to complete the repairs—usually 30 days or longer. Another housing inspection is scheduled as well as a new court date.
		.swiper-slide
			.slider-text
				h3 
					span.court Rent escrow court | 
					span.court.white  Second hearing
				ul
					li At the next hearing, the judge will ask if the housing inspector found that all code violations were remedied or if there are outstanding problems.
					li If the repairs have not been made, judges can lower the rent to be paid into escrow or allow tenants to terminate the lease.
					li Once housing inspectors deem all violations repaired, judges decide how to disburse the escrow funds — to landlords or tenants, or split the money between them based on the subjective determinations of judges.
	.swiper-pagination
					    
	.swiper-btn-prev
		.icon-arrow-up3
	.swiper-btn-next
		.icon-arrow-down3