doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">

html(class="no-js", lang="en")

	head

		//Basic page needs
		meta(charset="utf-8")
		title Dismissed: Tenants lose, landlords win in rent court. A Baltimore Sun investigation
		meta(name="description", content="")
		meta(name="author", content="")

		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//CSS
		link(rel="stylesheet", type="text/css", href="dist/stylesheets/style.css?v1")
		link(title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css")

		//Fonts
		link(href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet")

		//Facebook OpenGraph
		meta(property="og:title", content="Dismissed")
		meta(property="og:url", content="http://data.baltimoresun.com/news/dismissed/")
		meta(property="og:image", content="http://data.baltimoresun.com/news/dismissed/dist/images/facebook-thumb-rent-court.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="Tenants lose, landlords win in Baltimore rent court")
		meta(property="fb:app_id", content="310302989040998")

		//Twitter 
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltimoresun")
		meta(name="twitter:title", content="Dismissed")
		meta(name="twitter:description", content="Tenants lose, landlords win in Baltimore rent court")
		meta(name="twitter:image", content="http://data.baltimoresun.com/news/dismissed/dist/images/twitter-thumb-rent-court.png")
		meta(name="twitter:domain", content="baltimoresun.com")

		//Omniture Code
		include includes/omniture.html

		//BS Ad Code
		include includes/ads/ad-for-header.html


	body
		script(src="http://www.baltimoresun.com/thirdpartyservice?disablenav=false&amp;disablessor=true" async)
		div(data-trb-thirdpartynav)

		//block for story layout
		.header
			include ../dist/images/rowhouses.svg
			.header__text
		.article.article--header
			.header__title DISSMISSED
			.header__part-no Tenants lose, landlords win in rent court
		.story-container
			block content

			include includes/ads/ad-for-body--leaderboard.html

			//footer
			footer.footer
				section.footer__credits
					ul.footer__credits--main
						li.label Reporters
						li Doug Donovan
						li Jean Marbella
					ul
						li.label Editors
						li Matthew Hay Brown
						li John E. McIntyre
						
					ul
						li.label Design / Development / Graphics
						li Caroline Pate
						li Jin Bae Kim
						li Adam Marton (editor)
						
						
					ul
						li.label Visuals
						li Emma Patti Harris
						li Lloyd Fox
	

					ul.footer__credits--main
						li.label(style="font-size:.75em;") Illustration by Caroline Pate

				.footer__logo
					img(src="dist/images/baltimore-sun-logo-white.png" width="300")
			
			section.footer__comments
				include includes/comments.html






		// Javascript

		//Load jQuery CDN, fall back to local version if necessary		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="src/scripts/jquery-1.10.2.min.js">\x3C/script>')

		//Load the rest
		//script(src="dist/min/javascript-min.js")
		//Adobe Typekit loads Franklin
		script(src="https://use.typekit.net/nta3eyd.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
		script(src="dist/min/app.min.js")
		script(src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js")

		//Configuration for scrollReveal.js
		script.
			var config = {
				enter: 'right',
				move: '50px',
			 	scale:    { direction: 'up', power: '0' },
			 	vFactor: 0.5
			}
			window.sr = new scrollReveal(config);
		//Script for TimelineJS
		script.
			var additionalOptions = {
				timenav_position: "top"
			}
			timeline = new TL.Timeline('timeline-embed', 'https://docs.google.com/spreadsheets/d/1Fm-q8VDai21op4piC4Q4EPP9YgrwBAccaygp0xkskd4/pubhtml', additionalOptions);
		//swiper carousel script
		script.
			var mySwiper = new Swiper ('.swiper-container', {
				direction: 'vertical',
				loop: true,
				pagination: '.swiper-pagination',
				nextButton: '.swiper-btn-next',
				prevButton: '.swiper-btn-prev',
				direction: 'vertical',
				slidesPerView: 1,
				paginationClickable: true,
				spaceBetween: 30,
				mousewheelControl: true,
				keyboardControl: true
			});        
