extends _base.pug

mixin timeline(items)
	.inline-media--timeline.timeline-container
		each item in items 
			.tl-item
				.tl-date #{item.date}
				.tl-name #{item.description}
				.arrow-right
block content
			.article
				.row
					.col-sm-4(style="margin-bottom:10px;")
						.article__byline By Doug Donovan and Jean Marbella
						.article__dateline April 21, 2017
					.col-sm-2.tophat-share-tools(style="float:none;")
						span.icon-facebook
						span.icon-twitter

				//menu for series
				figure.inline-media.inline-media--small.inline-media--not-mobile(data-sr)
					.inline-media__title
						a(href="#") More in the series
					include includes/_parts-menu.pug
					
				</br>
				p.article__dropcap(data-dropcap="H")
					span ere is an example of a paragraph with a dropcap. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem purus, accumsan et pellentesque vel, gravida ut augue. 
				p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
				p Suspendisse vitae molestie enim. Nam est quam, pulvinar vitae ipsum non, rutrum tincidunt sapien. Suspendisse orci est, rhoncus eget auctor ut, elementum a sapien. Suspendisse semper egestas sem sed cursus. Etiam sed mauris lorem. Vestibulum accumsan commodo vestibulum.


				//large inline video
				.featured-video.inline-media--full
					.article__chapter-title__video Inside a home with 20 code violations 
					.video-text Explore Patrice Rooks’ home in the 4200 block of Flowerton Road in West Baltimore, captured in 360-degree video. Use the controls to discover the code violations that a city housing inspector found throughout the house. 
					figure.fv__video
						iframe(src="https://www.youtube.com/embed/whCAkKmvqpQ" width="100%" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

				p Mauris dapibus lectus ut imperdiet lobortis. Aenean tempus sapien ac augue malesuada, at posuere arcu sodales. Sed at dapibus justo. Donec tempus nec felis convallis consequat. 
				p Suspendisse vitae molestie enim. Nam est quam, pulvinar vitae ipsum non, rutrum tincidunt sapien. Suspendisse orci est, rhoncus eget auctor ut, elementum a sapien. Suspendisse semper egestas sem sed cursus. Etiam sed mauris lorem. Vestibulum accumsan commodo vestibulum.
				p Sed viverra, libero a sagittis condimentum, dui sapien cursus mauris, a aliquet mi mauris ac augue.  Sed id ligula ac enim luctus euismod. Etiam dapibus venenatis magna. Suspendisse ac condimentum massa, sit amet egestas risus. Vestibulum tempus diam ac malesuada pellentesque.

				//large pull quote
				.inline-media.inline-media--pullquote.inline-media--big(data-sr)
					.inline-media--pullquote__text There’s a lot of animosity between the parties. We work hard to make sure we always give a fair opportunity to landlords and tenants to come into court to address the issues that are raised.
					.inline-media--pullquote__src Mark F. Scurti, chief judge of the civil division of Baltimore District Court


				p Maecenas aliquet in sapien et finibus. Fusce tincidunt ligula mauris, sit amet vulputate elit lacinia sit amet. Etiam interdum mi id est lacinia, quis tincidunt sapien accumsan.  Fusce arcu orci, iaculis vel laoreet non, fermentum vitae turpis. 
				p Maecenas varius rutrum tellus eget mollis. Praesent ut euismod ante, eu laoreet erat. In eu posuere lectus. Cras leo turpis, accumsan eu sem eget, gravida ultrices magna. Quisque vitae odio imperdiet, cursus tellus condimentum, tincidunt est.
				p Proin lacinia convallis dolor ac elementum. Quisque venenatis augue ipsum, ut sollicitudin libero sagittis non. Praesent finibus semper enim vitae volutpat. Nullam placerat non ipsum eu laoreet.
					
				.article__chapter-title
					div 
						include ../dist/images/roof.svg
					.article__chapter-title__text Chapter title

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem purus, accumsan et pellentesque vel, gravida ut augue. Praesent quis pretium ipsum, eget efficitur neque. Sed et congue libero. Praesent dapibus posuere lobortis. Suspendisse pretium sed ex nec tristique. 


				//full-width link to photo gallery
				figure.inline-media.inline-media--pic.inline-media--big(data-sr="enter bottom")
					img(src="dist/images/photos/md-rent-court-ross.jpg")
					figcaption.inline-media--pic__caption Halisi Ross, 27, at his current home on North Warwick Avenue. From October 2016 until Februaryr, he rented an apartment on nearby Ashburton Street owned by Waz Investments. Before he moved in, the apartment had been deemed uninhabitable by the city, making it illegal to rent. When Ross complained in court, the judge required him to pay half of one month's rent.
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
				p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?

				//small pull quote in sidebar
				figure.inline-media.inline-media--pullquote.inline-media--med(data-sr)
					.inline-media--pullquote__text Landlords are not going to be deterred from letting their places run down. And tenants have little incentive to go to court.
					.inline-media--pullquote__src David A. Super, a professor of law at Georgetown and Yale

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.inline-media.inline-media--big.info
							 
					h3 About this series
					</br>Etiam dapibus venenatis magna. Suspendisse ac condimentum massa, sit amet egestas risus. Vestibulum tempus diam ac malesuada pellentesque. 
					</br></br>Supported by a grant from the <a href="http://solutionsjournalism.org/" target="_new">Solutions Journalism Network.</a>
					</br>
						a(href="http://solutionsjournalism.org/" target="_new")
							img(src="dist/images/solutions-logo.png" width="200px" style="padding-top:10px")
					</br>

				p Mauris dapibus lectus ut imperdiet lobortis. Aenean tempus sapien ac augue malesuada, at posuere arcu sodales. Sed at dapibus justo. Donec tempus nec felis convallis consequat.

					//multiphoto package - photos enter from left and right
				figure.media-package
					img.media-package__img.media-package__img--left(src="dist/images/photos/md-rent-court-hicks-1.jpg" data-sr="enter left")
					img.media-package__img.media-package__img--right(src="dist/images/photos/md-rent-court-hicks-2.jpg" data-sr="enter right")
				//full-width link to photo gallery
				figure.inline-media.inline-media--pic.inline-media--big(data-sr="enter bottom")
					img(src="dist/images/photos/md-rent-court-hicks-3.jpg")
					figcaption.inline-media--pic__caption The Hicks' family rented in the 2700 block of The Alameda. City housing inspectors found 13 violations in the home. Three were considered serious -- they involved threats to life, health and safety. <b>TOP LEFT:</b> Rodent droppings littered the cabinet under the kitchen sink in the home Tia Hicks and her family rented in the 2700 block of The Alameda. <b>TOP RIGHT:</b> Tia Hicks said cracks in the walls of the home her family rented in the 2700 block of The Alameda allowed rodents from vacant buildings on either side to come in. <b>BOTTOM:</b> The five members of Tia Hicks' family slept in the upstairs bedroom of their home in the 2700 block of The Alameda with a heater to stay warm. She said the house's furnance was not functioning. "It's freezing in our house," she said. "We have to cut on our stove, we have to cut on our oven just to stay warm."
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY		


				p Suspendisse vitae molestie enim. Nam est quam, pulvinar vitae ipsum non, rutrum tincidunt sapien. Suspendisse orci est, rhoncus eget auctor ut, elementum a sapien. Suspendisse semper egestas sem sed cursus. Etiam sed mauris lorem. Vestibulum accumsan commodo vestibulum.
				p Sed viverra, libero a sagittis condimentum, dui sapien cursus mauris, a aliquet mi mauris ac augue.  Sed id ligula ac enim luctus euismod. Etiam dapibus venenatis magna. Suspendisse ac condimentum massa, sit amet egestas risus. Vestibulum tempus diam ac malesuada pellentesque.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					//ad
				include includes/ads/ad-for-body--cube.html

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				a(name="explainer")
				.inline-media.inline-media--slider.inline-media--full(data-sr)
					include includes/interactives/_explainer.pug

				p Mauris dapibus lectus ut imperdiet lobortis. Aenean tempus sapien ac augue malesuada, at posuere arcu sodales. Sed at dapibus justo. Donec tempus nec felis convallis consequat. 
				p Suspendisse vitae molestie enim. Nam est quam, pulvinar vitae ipsum non, rutrum tincidunt sapien. Suspendisse orci est, rhoncus eget auctor ut, elementum a sapien. Suspendisse semper egestas sem sed cursus. Etiam sed mauris lorem. Vestibulum accumsan commodo vestibulum.
				p Sed viverra, libero a sagittis condimentum, dui sapien cursus mauris, a aliquet mi mauris ac augue.  Sed id ligula ac enim luctus euismod. Etiam dapibus venenatis magna. Suspendisse ac condimentum massa, sit amet egestas risus. Vestibulum tempus diam ac malesuada pellentesque.

				//large pull quote
				.inline-media.inline-media--pullquote.inline-media--big(data-sr)
					.inline-media--pullquote__text It’s up to tenants to assert their rights. But we’ve made it very difficult. It’s no wonder our housing stock in low-income communities is in such poor shape.
					.inline-media--pullquote__src Michele Cotton, a law professor at University of Baltimore

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					
				//full-width link to photo gallery
				figure.inline-media.inline-media--pic.inline-media--big(data-sr="enter bottom")
					img(src="dist/images/photos/md-rent-court-houses.jpg")
					figcaption.inline-media--pic__caption A home on the 3700 block of Gelston Drive sits with a "For Rent" sign in the front window. Anthony Johnson rented the rowhouse in West Baltimore last February for $950 a month. He didn't know that city inspectors had deemed the house unfit for human habitation.
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY					

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.inline-media.inline-media--med.info
							 
					h3 Support our investigative journalism
					</br> Become a Baltimore Sun subscriber today to support stories like this one. <a href="http://ad.baltimoresun.com/land-article/" target="_blank">Start getting full access to our signature journalism for just $4.99 for 3 months.</a>
					</br>


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.article__chapter-title
					div 
						include ../dist/images/roof.svg
					.article__chapter-title__text Chapter title

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				//figure.inline-media.inline-media--video.inline-media--med(data-sr)
					iframe(src="https://player.vimeo.com/video/142890066?color=ffffff")

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				//small pull quote in sidebar
				figure.inline-media.inline-media--pullquote.inline-media--med(data-sr)
					.inline-media--pullquote__text Evicting people is not what I want to do. It’s the worst thing to have to do. It’s horrible. But I’m not social services. It’s a business.
					.inline-media--pullquote__src Ben Frederick III, a property manager in Baltimore

			//#timeline-embed(style="width: 100%; height: 500px")

			.article

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.inline-media.inline-media--gamehook.inline-media--full(data-sr)
					img(src="dist/images/gavel.png" class="gavel")
					#graphic-embed__title You be the judge
					#graphic-embed__chatter <strong style="color:#59A3A3">Listen to the facts of three real-life rent court cases, then guess the ruling.</strong> Complete the game and win a free 8-week digital subscription to BaltimoreSun.com, and be entered into a drawing for a free 1-year subscription.
					.slide-buttons
						a(class="btn button game" href="#") Play now

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				//large pull quote
				.inline-media.inline-media--pullquote.inline-media--big(data-sr)
					.inline-media--pullquote__text It’s a very unfriendly climate for landlords in Baltimore. You have professional tenants who know how not to pay the rent just like you have slumlords.
					.inline-media--pullquote__src Keith French, an executive at Blue Star Property Management

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			#graphic-embed.worst-landlords
				.expandButtonWrapper
					.expandButton(onClick="$('.worst-landlords').toggleClass('active'); $('html, body').animate({scrollTop: $('.worst-landlords').offset().top}, 500);")
						p.expand Expand
						p.collapse Collapse
				.container
					#graphic-embed__title Life, health and safety cases
					#graphic-embed__chatter 
						p Renters in Baltimore filed 5,511 complaints against landlords from 2010 through November 2016. Inspectors confirmed code violations that threatened life, health and safety in thousands of cases.
						p Representatives of the city’s largest landlords point to the number of units they manage and say the low rate of complaints show that their properties are well maintained. Advocates for tenants say most renters are unaware of the complaint process.
						.row
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord HOUSING AUTHORITY OF BALTIMORE CITY
									.worst-landlords__stat 66 LHS cases
									.worst-landlords__stat 9,100 units managed
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord MID-ATLANTIC REALTY MANAGEMENT
									.worst-landlords__stat 56 LHS cases
									.worst-landlords__stat 2,500 units managed
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord DUNNE WRIGHT	
									.worst-landlords__stat 34 LHS cases
									.worst-landlords__stat 600 units managed
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord MARYLAND PROPERTY MANAGEMENT, LLC
									.worst-landlords__stat 29 LHS cases
									.worst-landlords__stat 680 units managed
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord SAGE MANAGEMENT
									.worst-landlords__stat 26 LHS cases
									.worst-landlords__stat 960 units managed
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord PROGRESSIVE PROPERTY INC
									.worst-landlords__stat 20 LHS cases
									.worst-landlords__stat units n/a
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord C BROWN PROPERTIES
									.worst-landlords__stat 19 LHS cases
									.worst-landlords__stat 150 units managed
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord BLUE STAR
									.worst-landlords__stat 18 LHS cases
									.worst-landlords__stat 400 units managed
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord BLUE OCEAN
									.worst-landlords__stat 15 LHS cases
									.worst-landlords__stat 2,631 units managed
							.worst-landlords__blockWrapper
								.worst-landlords__block
									.worst-landlords__landlord WAZ INVESTMENT
									.worst-landlords__stat 10 LHS cases
									.worst-landlords__stat units n/a
					#graphic-embed__source
						p Baltimore rent court cases with life, health and safety code violations were extracted from the Maryland Judiciary Case Search by the Maryland Volunteer Lawyers Service. The numbers of units were provided by the property managers.

			.article
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidet, sunt in culpa qui officia deserunt mollit anim id est laborum.

							//multiphoto package - photos enter from left and right
				figure.media-package
					img.media-package__img.media-package__img--left(src="dist/images/photos/md-rent-court-loving1.jpg" data-sr="enter left")
					img.media-package__img.media-package__img--right(src="dist/images/photos/md-rent-court-loving2.jpg" data-sr="enter right")
					figcaption.inline-media--pic__caption Jacob and Michele Loving have lived in their one-bedroom, second-floor apartment on Jack Street in the Brooklyn neighborhood of South Baltimore since 2013. After their bedroom ceiling collapsed, they complained in court, and now pay rent into an escrow account. They say the landlord has patched the hole five times.
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				//full-width link to photo gallery
				figure.inline-media.inline-media--pic.inline-media--big(data-sr="enter bottom")
					img(src="dist/images/photos/md-rent-court-cotton.jpg")
					figcaption.inline-media--pic__caption Michele Cotton, who runs the Division of Legal, Ethical and Historical Studies at the University of Baltimore, has studied Baltimore's rent court and proposed reforms. 
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					//large photo gallery link in sidebar
				figure.inline-media.inline-media--pic.inline-media--med(data-sr)
					img(src="dist/images/photos/md-rent-court-brown.jpg")
					figcaption.inline-media--pic__caption Corey Brown, owner of C. Brown Property Management, grew up in rental homes in some of Baltimore's poorest neighborhoods. Now he works as a property manager. 
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				//large photo gallery link in sidebar
				figure.inline-media.inline-media--pic.inline-media--med(data-sr)
					img(src="dist/images/photos/md-rent-court-french.jpg")
					figcaption.inline-media--pic__caption Keith French, photographed in 2012 on the 800 block of N. Caroline Street, is an executive at Blue Star Managment. He calls Baltimore's rent escrow process "a very unfriendly climate for landlords."
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				//full-width link to photo gallery
				figure.inline-media.inline-media--pic.inline-media--big(data-sr="enter bottom")
					img(src="dist/images/photos/md-rent-court-fredrick.jpg")
					figcaption.inline-media--pic__caption Ben Frederick III, has been a property manager, owner and broker in Baltimore for three decades.
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					//multiphoto package - photos enter from left and right
				figure.media-package
					img.media-package__img.media-package__img--left(src="dist/images/photos/md-rent-court-buckner1.jpg" data-sr="enter left")
					img.media-package__img.media-package__img--right(src="dist/images/photos/md-rent-court-buckner2.jpg" data-sr="enter right")
				//full-width link to photo gallery
				figure.inline-media.inline-media--pic.inline-media--big(data-sr="enter bottom")
					img(src="dist/images/photos/md-rent-court-buckner3.jpg")
					figcaption.inline-media--pic__caption <b>TOP:</b> Jesse Buckner loaded his belongings into and on top of his car after a months-long dispute with his landlord over bedbugs and other problems. <b>BOTTOM:</b> Jesse Buckner surveys his new home on North Wolf Street, where he is renting a bedroom.
					btn.inline-media--pic__open-gallery 
						a(href="http://www.baltimoresun.com/bal-dismissed-baltimore-rent-court-20170420-photogallery.html" target="_blank") OPEN GALLERY	


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				//chart
				figure.inline-media.inline-media--chart.inline-media--med(data-sr)
					.inline-media--chart__title Rent court cases in 2016
					.inline-media--chart__text The great majority of cases in Baltimore’s rent court are brought by landlords claiming that tenants failed to pay rent. Tenant complaints about living conditions make up less than 1 percent.
					img(src="dist/images/rent-court-2016-cases-chart.png" width="300px")
					.inline-media--chart__text <i>Source: Baltimore City District Court</i>

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



			
				hr

				p.credit Contact Doug Donovan at <a href="mailto:ddonovan@baltsun.com" target="_blank"> ddonovan@baltsun.com </a>

				p.credit Contact Jean Marbella at <a href="mailto:jean.marbella@baltsun.comm" target="_blank"> jean.marbella@baltsun.com </a>

				p.credit The Sun’s investigation, supported by a grant from <a href="http://solutionsjournalism.org/">Solutions Journalism Network</a>, reviewed state electronic court records of more than 5,500 rent court complaints filed by Baltimore tenants and hundreds of criminal cases from 2010 through November 2016. The information was extracted from the <a href="http://casesearch.courts.state.md.us/casesearch/">Maryland Judiciary Case Search</a> website and formulated into a searchable database by the Maryland Volunteer Lawyers Service. (The Sun filed a request with the Maryland Judiciary under the Public Information Act to obtain the case records directly from the state, which rejected the request.) Sun reporters worked with freelance developer Emanwel Turnbull, an attorney and University of Baltimore adjunct professor who has conducted such research previously, to query and analyze the cases through MLVS’ database. Incomplete and incorrect entries by court data clerks may have resulted in tallies that do not reflect the full extent of court actions. The Sun also analyzed data from city government to identify addresses affiliated with landlords and additional violations -- such as Environmental Control Board citations and prosecutions by the Department of Housing and Community Development -- associated with specific landlords or addresses. 

		
				</br></br>
				//menu for series
				figure.inline-media.inline-media--small.inline-media--not-mobile(data-sr, style="float:none;width:100%;")
					.inline-media__title(style="text-align:left;")
						a(href="#") More in the series
					include includes/_parts-menu.pug



				//series menu for mobile
				figure.inline-media.inline-media--full.inline-media--has-title.inline-media--mobile(data-sr)
					.inline-media__title More in the series
					include includes/_parts-menu.pug


	
