extends _base.pug

mixin timeline(items)
	.inline-media--timeline.timeline-container
		each item in items 
			.tl-item
				.tl-date #{item.date}
				.tl-name #{item.description}
				.arrow-right
block content
			.article
				.row
					.col-sm-4
						.article__byline By Doug Donovan and Jean Marbella
						.article__dateline April 21, 2017
					.col-sm-2.tophat-share-tools(style="float:none;")
						span.icon-facebook
						span.icon-twitter

				//menu for series
				//figure.inline-media.inline-media--small.inline-media--not-mobile(data-sr)
				//	.inline-media__title
				//		a(href="#") More in the series
				//	include includes/_parts-menu.pug
					
				p.article__dropcap(data-dropcap="H")
					span ere is an example of a paragraph with a dropcap. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem purus, accumsan et pellentesque vel, gravida ut augue. 
				p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
				p Suspendisse vitae molestie enim. Nam est quam, pulvinar vitae ipsum non, rutrum tincidunt sapien. Suspendisse orci est, rhoncus eget auctor ut, elementum a sapien. Suspendisse semper egestas sem sed cursus. Etiam sed mauris lorem. Vestibulum accumsan commodo vestibulum.

				//large inline video
				.featured-video.inline-media--full
					figure.fv__video
						iframe(src="https://player.vimeo.com/video/143650587" width="100%" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

				p Mauris dapibus lectus ut imperdiet lobortis. Aenean tempus sapien ac augue malesuada, at posuere arcu sodales. Sed at dapibus justo. Donec tempus nec felis convallis consequat. 
				p Suspendisse vitae molestie enim. Nam est quam, pulvinar vitae ipsum non, rutrum tincidunt sapien. Suspendisse orci est, rhoncus eget auctor ut, elementum a sapien. Suspendisse semper egestas sem sed cursus. Etiam sed mauris lorem. Vestibulum accumsan commodo vestibulum.
				p Sed viverra, libero a sagittis condimentum, dui sapien cursus mauris, a aliquet mi mauris ac augue.  Sed id ligula ac enim luctus euismod. Etiam dapibus venenatis magna. Suspendisse ac condimentum massa, sit amet egestas risus. Vestibulum tempus diam ac malesuada pellentesque.

				//large pull quote
				.inline-media.inline-media--pullquote.inline-media--big(data-sr)
					.inline-media--pullquote__text There’s a lot of animosity between the parties. We work hard to make sure we always give a fair opportunity to landlords and tenants to come into court to address the issues that are raised.
					.inline-media--pullquote__src Mark F. Scurti, chief judge of the civil division of Baltimore District Court


				p Maecenas aliquet in sapien et finibus. Fusce tincidunt ligula mauris, sit amet vulputate elit lacinia sit amet. Etiam interdum mi id est lacinia, quis tincidunt sapien accumsan.  Fusce arcu orci, iaculis vel laoreet non, fermentum vitae turpis. 
				p Maecenas varius rutrum tellus eget mollis. Praesent ut euismod ante, eu laoreet erat. In eu posuere lectus. Cras leo turpis, accumsan eu sem eget, gravida ultrices magna. Quisque vitae odio imperdiet, cursus tellus condimentum, tincidunt est.
				p Proin lacinia convallis dolor ac elementum. Quisque venenatis augue ipsum, ut sollicitudin libero sagittis non. Praesent finibus semper enim vitae volutpat. Nullam placerat non ipsum eu laoreet.
					
				.article__chapter-title
					div 
						include ../dist/images/roof.svg
					.article__chapter-title__text Chapter title

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem purus, accumsan et pellentesque vel, gravida ut augue. Praesent quis pretium ipsum, eget efficitur neque. Sed et congue libero. Praesent dapibus posuere lobortis. Suspendisse pretium sed ex nec tristique. 

				//large photo gallery link in sidebar
				figure.inline-media.inline-media--pic.inline-media--med(data-sr)
					img(src="dist/images/example.jpg")
					figcaption.inline-media--pic__caption Caption goes here
					btn.inline-media--pic__open-gallery 
						a(href="#" target="_blank") OPEN GALLERY

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
				p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?

				//small pull quote in sidebar
				figure.inline-media.inline-media--pullquote.inline-media--med(data-sr)
					.inline-media--pullquote__text Landlords are not going to be deterred from letting their places run down. And tenants have little incentive to go to court.
					.inline-media--pullquote__src David A. Super, a professor of law at Georgetown and Yale

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.inline-media.inline-media--big.info
							 
					h3 About this series
					</br>Etiam dapibus venenatis magna. Suspendisse ac condimentum massa, sit amet egestas risus. Vestibulum tempus diam ac malesuada pellentesque. 
					</br></br>Supported by a grant from the <a href="http://solutionsjournalism.org/" target="_new">Solutions Journalism Network.</a>
					</br>
						a(href="http://solutionsjournalism.org/" target="_new")
							img(src="dist/images/solutions-logo.png" width="200px" style="padding-top:10px")
					</br>

				p Mauris dapibus lectus ut imperdiet lobortis. Aenean tempus sapien ac augue malesuada, at posuere arcu sodales. Sed at dapibus justo. Donec tempus nec felis convallis consequat.

					//multiphoto package - photos enter from left and right
				figure.media-package
					img.media-package__img.media-package__img--left(src="dist/images/vertical-example.jpg" data-sr="enter left")
					img.media-package__img.media-package__img--right(src="dist/images/example.jpg" data-sr="enter right")
					.media-package__caption Caption for multiphoto package

				p Suspendisse vitae molestie enim. Nam est quam, pulvinar vitae ipsum non, rutrum tincidunt sapien. Suspendisse orci est, rhoncus eget auctor ut, elementum a sapien. Suspendisse semper egestas sem sed cursus. Etiam sed mauris lorem. Vestibulum accumsan commodo vestibulum.
				p Sed viverra, libero a sagittis condimentum, dui sapien cursus mauris, a aliquet mi mauris ac augue.  Sed id ligula ac enim luctus euismod. Etiam dapibus venenatis magna. Suspendisse ac condimentum massa, sit amet egestas risus. Vestibulum tempus diam ac malesuada pellentesque.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					//ad
				include includes/ads/ad-for-body--cube.html

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.inline-media.inline-media--slider.inline-media--full(data-sr)
					include includes/interactives/_explainer.pug

				p Mauris dapibus lectus ut imperdiet lobortis. Aenean tempus sapien ac augue malesuada, at posuere arcu sodales. Sed at dapibus justo. Donec tempus nec felis convallis consequat. 
				p Suspendisse vitae molestie enim. Nam est quam, pulvinar vitae ipsum non, rutrum tincidunt sapien. Suspendisse orci est, rhoncus eget auctor ut, elementum a sapien. Suspendisse semper egestas sem sed cursus. Etiam sed mauris lorem. Vestibulum accumsan commodo vestibulum.
				p Sed viverra, libero a sagittis condimentum, dui sapien cursus mauris, a aliquet mi mauris ac augue.  Sed id ligula ac enim luctus euismod. Etiam dapibus venenatis magna. Suspendisse ac condimentum massa, sit amet egestas risus. Vestibulum tempus diam ac malesuada pellentesque.

				//large pull quote
				.inline-media.inline-media--pullquote.inline-media--big(data-sr)
					.inline-media--pullquote__text It’s up to tenants to assert their rights. But we’ve made it very difficult. It’s no wonder our housing stock in low-income communities is in such poor shape.
					.inline-media--pullquote__src Michele Cotton, a law professor at University of Baltimore

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					
				//full-width link to photo gallery
				figure.inline-media.inline-media--pic.inline-media--big(data-sr="enter bottom")
					img(src="dist/images/example.jpg")
					figcaption.inline-media--pic__caption Caption goes here
					btn.inline-media--pic__open-gallery 
						a(href="#" target="_blank") OPEN GALLERY					

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.inline-media.inline-media--med.info
							 
					h3 Support our investigative journalism
					</br> Become a Baltimore Sun subscriber today to support stories like this one. <a href="http://ad.baltimoresun.com/land-article/" target="_blank">Start getting full access to our signature journalism for just $4.99 for 3 months.</a>
					</br>


				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.article__chapter-title
					div 
						include ../dist/images/roof.svg
					.article__chapter-title__text Chapter title

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				figure.inline-media.inline-media--video.inline-media--med(data-sr)
					iframe(src="https://player.vimeo.com/video/142890066?color=ffffff")

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				//small pull quote in sidebar
				figure.inline-media.inline-media--pullquote.inline-media--med(data-sr)
					.inline-media--pullquote__text Evicting people is not what I want to do. It’s the worst thing to have to do. It’s horrible. But I’m not social services. It’s a business.
					.inline-media--pullquote__src Ben Frederick III, a property manager in Baltimore

			//#timeline-embed(style="width: 100%; height: 500px")

			.article

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				//small link to photo gallery in sidebar
				figure.inline-media.inline-media--pic.inline-media--small(data-sr)
					img(src="dist/images/vertical-example.jpg")
					figcaption.inline-media--pic__caption Caption goes here
					.inline-media--pic__open-gallery 
						a(href="#" target="_blank") OPEN GALLERY

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.inline-media.inline-media--gamehook.inline-media--full(data-sr)
					img(src="dist/images/gavel.png" class="gavel")
					#graphic-embed__title You be the judge
					#graphic-embed__chatter <strong style="color:#59A3A3">Listen to the facts of three real-life rent court cases, then guess the ruling.</strong> Complete the game and win a free 8-week digital subscription to BaltimoreSun.com, and be entered into a drawing for a free 1-year subscription.
					.slide-buttons
						a(class="btn button game" href="#") Play now

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				//large pull quote
				.inline-media.inline-media--pullquote.inline-media--big(data-sr)
					.inline-media--pullquote__text It’s a very unfriendly climate for landlords in Baltimore. You have professional tenants who know how not to pay the rent just like you have slumlords.
					.inline-media--pullquote__src Keith French, an executive at Blue Star Property Management

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			#graphic-embed.worst-landlords
				.container
					#graphic-embed__title Baltimore's most cited landlords
					#graphic-embed__chatter The Baltimore Sun analysed data from Maryland Case Search, Baltimore rental registrations, Open Baltimore and other sources of identify landlords and properties that were consistently fined for life, health and saftey violations and other infractions.
						b  
							a(href="http://data.baltimoresun.com/news/dismissed/landlords/" target="_blank" style="color:#FFF;text-decoration:none;cursor:pointer") Click here to explore the full interactive.
						.row
							.col-sm-4
								.worst-landlords__block
									.worst-landlords__landlord HABC
									.worst-landlords__stat 77 properties
									.worst-landlords__stat 182 units
									.worst-landlords__stat 66 violations
									a(href="http://data.baltimoresun.com/news/dismissed/landlords/#1" target="_blank" class="worst-landlords__link") More detail
							.col-sm-4
								.worst-landlords__block  
									.worst-landlords__landlord M.A.R.M.
									.worst-landlords__stat 7 properties
									.worst-landlords__stat 418 units
									.worst-landlords__stat 56 violations
									a(href="http://data.baltimoresun.com/news/dismissed/landlords/#2" target="_blank" class="worst-landlords__link") More detail
							.col-sm-4
								.worst-landlords__block
									.worst-landlords__landlord Dunn Wright
									.worst-landlords__stat 194 properties
									.worst-landlords__stat 253 units
									.worst-landlords__stat 34 violations
									a(href="http://data.baltimoresun.com/news/dismissed/landlords/#3" target="_blank" class="worst-landlords__link") More detail
						a(href="http://data.baltimoresun.com/news/dismissed/landlords/" class="btn worst-landlords__btn") See the 10 most cited landlords in Baltimore

			.article
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				//.parts-menu__title.bottom-refer Read Part 2: 
				//	a(href="#" style="color:#752B00;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 

				hr

				p.credit Contact Doug Donovan at <a href="mailto:ddonovan@baltsun.com" target="_blank"> ddonovan@baltsun.com </a>

				p.credit Contact Jean Marbella at <a href="mailto:jean.marbella@baltsun.comm" target="_blank"> jean.marbella@baltsun.com </a>

				p.credit Reporting and graphics were produced based on case data from <a href="http://casesearch.courts.state.md.us/casesearch/" target="_blank"/>Maryland Judiciary Case Search</a>. The data was scraped and analyzed for The Sun by attorneys at Maryland Volunteer Lawyer Service.
		
				//series menu for mobile
				figure.inline-media.inline-media--full.inline-media--has-title.inline-media--mobile(data-sr)
					.inline-media__title More in the series
					include includes/_parts-menu.pug


	
